body {
    background-color: rgba(46, 78, 68, 0.836)
}

header {
    display: flex;
    flex-grow: 0;
    background-color: rgb(33, 37, 41);
    position: static;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1000;
    margin-top: 3rem;
    margin-left: 20rem;
}

main {
    display: flex;
    margin-bottom: 35rem;
    margin-top: 4rem;
}

.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    text-decoration: inherit;
  }

.top-buffer { 
    margin-top:20px; 
}

.row-container {
    display: flex;
    flex-grow: 1000;
    margin-top: 2rem;
}